<div class="banner" style="background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/go/pokemon-party.jpg);">
  <div class="banner-content">
    <h1>Take your pick of our poke</h1>
  </div>
</div>
<div class="main-container">
  <div class="cards">
  <%@pokemons.each do |pokemon| %>
    <div class="card">
    <%= link_to page_path(pokemon.id), class:"text-decoration-none" do %>
      <div class="card-body">
        <h5 class="card-title">Pokemon</h5>
        <h6 class="card-subtitle mb-2 text-muted">Pokemon</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= pokemon.name %></li>
          <li class="list-group-item"><%= pokemon.element %></li>
          <li class="list-group-item"><%= pokemon.move %></li>
        </ul>
      <%= image_tag pokemon.image_path, class: "w-100" %>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
  <img id="map" src="https://i.imgur.com/M7QZAvP.jpg" alt="Pokemon map">
</div>
