<div class="banner" style="background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/go/pokemon-party.jpg);">
  <div class="banner-content">
    <h1>Take your pick of our poke</h1>
    <p>Take a look at Pokemon around the globe and do battle with friends!!!!!</p>
  </div>
</div>
<div class="searchbar" >
<h3>Search for Pokemon</h3>
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Pokemon"
  %>
  <div class="button"><%= submit_tag "Search", class: "btn btn-primary" %></div>
<% end %>
</div>
<div class="main-container">
  <div class="cards">
    <%@pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon.id), class:"text-decoration-none" do %>
        <div class="card">
          <div class="card-photo"><%= cl_image_tag pokemon.photo.key, width: 100, crop: :fill %>
          </div>
          <h1 class="text-black mt-4"> <%= pokemon.name %></h1>
          <p class="list-group-item text-black"><%= pokemon.element %></p>
          <p class="list-group-item text-black"><%= pokemon.move %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="map">
    <div class="map" style="height: 100vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
