<div class="banner" style="background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1716861/pexels-photo-1716861.jpeg?cs=srgb&dl=pexels-carolina-castilla-arias-1716861.jpg&fm=jpg);">
  <div class="banner-content">
    <h1>Take at look at your Pokemon</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= @pokemon.name %></h1>
      <p><%= @pokemon.element %></p>
      <p><%= @pokemon.move %></p>
      <div>
        <%= image_tag @pokemon.image_path, class:"image" %>
      </div>
    </div>
    <div class="col-6">
      <h1>Book this Pokemon</h1>
      <div class="form-inputs">
        <%= simple_form_for [@pokemon, @booking] do |f| %>
          <%= f.input :date, html5: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Book now", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
