<h1>New Pokemon</h1>
<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name %>
  <%= f.input :element %>
  <%= f.input :move %>
  <%= f.input :image_path, as: :file %>
  <%= f.submit "Add Pokemon", class: "btn btn-primary" %>
<% end %>
