
<h1 style="font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px; padding-left: 110px;">Add a new pokemon</h1>
<div class="form" style="width: 50vw; margin-left: 100px">
  <%= simple_form_for(@pokemon) do |f| %>
    <%= f.input :name %>
    <%= f.input :element %>
    <%= f.input :move %>
    <%= f.input :photo, as: :file %>

    <%= f.submit "Add your new pokemon!", class: "btn btn-primary" %>

  <% end %>
</div>
