
<h1>Add a new pokemon</h1>
<div class="form">
  <%= simple_form_for(@pokemon) do |f| %>
    <%= f.input :name %>
    <%= f.input :element %>
    <%= f.input :move %>
    <%= f.input :photo, as: :file %>

    <%= f.submit "Add your new pokemon!", class: "btn btn-primary" %>

  <% end %>
</div>
